


.card {
    width: 400px;
    border: 1px solid #8c1bc0;
    border-radius: 5px;
    overflow: hidden;
    
  }
  
  .card img {
    display: block;
    margin: 10px;
    max-width: 95%;
    height: auto;
    border-radius: 5px;
    
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h1 {
    margin-top: 1px;
  }
  
  .card-content p {
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .card-content a {
    display: block;
    text-align: center;
    background-color: #69428d;
    color: #000000;
    padding: 10px;
    text-decoration: underline;
    border-radius: 5px;
  }