@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/scss/bootstrap';

.welcome {
    background-color: rgb(5, 162, 126);
    border: 2px dotted rgb(0, 0, 5);
  }
  
  .counter-display {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border: 5px dotted #0c4c29;
    border-radius: 5px;
    background-color: #55f0899c;
  }

  .clock-container {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #60bea0;
    border: 1px solid #2d0303;
    border-radius: 5px;
  
    h2 {
      color: #111232;
    }
  }
  
  .container-co{
    padding: 20px;
    border: 1px dashed red;
    background-color: white;
  }

.github-users-list {
  list-style-type: none;
  padding: 0;
  background-color: #206c423a;
}

.github-users-list-item {
  margin-bottom: 10px;
}

.github-users-list-item a {
  color: #332267;
  text-decoration: none;
  font-size: 20px;
}

.github-users-list-item a:hover {
  text-decoration: underline;
}
