body {

  font-family: Verdana,Verdana,Verdana,Verdana;
  display: flex;
  flex-direction: column;
  margin: 0;
  

}


.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(138, 51, 219, 0.3);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 40px;
  gap: 1rem;
  color: black;
  >a:link,
  a:visited,
  a:active {
    text-decoration: none;
    
  }
  
}

.disabled {
  color: black;
  opacity: 0.5;
  font-size: 14px;
}
.selector { 
  height: 19px;
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}
.disabled{
  text-align: end;
  justify-content: center;
}
#dropdown {
  background-color: rgb(138, 51, 219, 0);
    border: none;
    cursor: pointer;
    font-family: Verdana,Verdana,Verdana,Verdana;
    font-weight: 400px;
    
    vertical-align: middle; 
    font-size: 15px;
    gap: 1rem;
    text-align: center;
  justify-content: center;
  position: relative;
}

button {
  color: rgb(39, 158, 10);
  background-color: white;
  height: 30px;
  border-radius: 5px;
  background-position: center;
  border-color: rgb(0, 0, 0);
  transition: background-color .5s;
}

.search #search {
  background-color:white;
  border-color: darkmagenta;
 height: 30px;
  
  border-radius: 5px;
 
  font-family: Verdana,Verdana,Verdana,Verdana;
  
}
button:hover{
  background-color: green;
  color: white;
}
